@font-face {
  font-family: 'Monaspace';
  src: url(FontWithASyntaxHighlighter-Regular.woff2) format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Open-Dyslexic';
  src: url(OpenDyslexic-Regular.otf) format('woff2');
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  color-scheme: light dark;
  font-family: 'Open-Dyslexic', system-ui, sans-serif;
  --color-100: oklch(93.34% 0.023 157.58);
  --color-200: oklch(86.89% 0.043 159.33);
  --color-800: oklch(36.03% 0.053 164.64);
  --color-900: oklch(31.95% 0.045 165.16);
  --secondary-50: oklch(97.32% 0.007 53.45);
  --secondary-300: oklch(78.79% 0.049 53.5);
  --secondary-800: oklch(43.14% 0.068 27.83);
  --secondary-950: oklch(25.1% 0.035 25.51);

  --border-radius: 1rem;

  --gap: 1.5rem;
}

html {
  box-sizing: border-box;
}
::selection {
  background-color: var(--color-200);
  color: var(--secondary-950);
  border-radius: 1rem;
}

body {
  /* max-width: 1248px; */
  margin-inline: auto;
  background-color: light-dark(var(--color-100), var(--color-900));
  color: light-dark(var(--secondary-950), var(--secondary-50));
  letter-spacing: 1px;
}

/* A more effective CSS Image Reset: https://gist.github.com/palashmon/35bda7887eb4bc45459d71eca3dda7a5 */
img {
  max-width: 100%; /* don't exeed container's width */
  height: auto;
  vertical-align: middle; /* aligns image with text - mind it's an inline element */
  font-style: italic; /* makes alt text stand out */
  background-repeat: no-repeat; /* don't repeat yourself */
  background-size: cover; /* fill container without repeating */
  shape-margin: 1rem; /* add spacing around image */
}

section h2 {
  margin-block: 2rem;
  text-decoration: underline;
}

p,
li {
  text-wrap: pretty;
  line-height: 1.75;
  max-width: 65ch;
  font-size: 1.125rem;
  margin-block: 0.5rem;
}

section a {
  text-decoration: underline;
}

picture {
  height: 100%;
  align-self: auto;
}

header {
  /* position: fixed; */
  position: absolute;
  width: 100%;
  padding-inline: var(--gap);
  display: flex;
  padding-block: 2rem;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    inset: 0rem;
    background-image: linear-gradient(rgb(from var(--color-800) r g b / calc(alpha * 0.5)) 80%, transparent);
    filter: blur(2px);
    z-index: 2;
  }

  div {
    max-width: 1248px;
    flex: 1;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
  }

  nav ul {
    display: flex;
    justify-content: end;
    list-style: none;
    gap: var(--gap);
    margin-block: var(--gap);
  }
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
  transition: all 200ms ease;
  text-underline-offset: 0.25rem;
  &:hover {
    text-decoration: underline;

    color: var(--secondary-200);
  }
}

.hero {
  display: grid;
  /* place-content: center; */
  img {
    width: 100%;
    height: 100dvh;
    object-fit: cover;
  }
  * {
    grid-row: 1/1;
    grid-column: 1/1;
  }
  h2 {
    place-self: center;
    font-size: 3rem;
    backdrop-filter: blur(6px);
    background-color: rgb(from var(--color-800) r g b / calc(alpha / 3));
    padding: 1.5rem 3rem;
    border-radius: var(--border-radius);

    span {
      font-style: italic;
    }

    span::after {
      content: '!';
    }
  }
}

section:nth-of-type(even) {
  margin-block: 5rem;
}

section:nth-of-type(even) .flex {
  flex-direction: row-reverse;
}

section:last-of-type {
  margin-bottom: 5rem;
}

section:not(.hero) {
  max-width: 87.5em;
  margin-inline: auto;
}

section ul {
  margin-left: 1rem;
}
pre code,
code,
.code {
  font-family: 'Monaspace';
}

code {
  color: light-dark(var(--secondary-800), var(--secondary-300));
}

textarea.code {
  min-width: 100%;
  min-height: 18rem;
  field-sizing: content;
  padding: 1rem;
  scrollbar-width: thin;
  overflow-x: auto;
  background-color: hsl(70, 8%, 15%);
  border-radius: 1rem;
  border: none;
  outline: 3px solid hsl(70, 8%, 15%);
  outline-offset: 3px;
}

.flex {
  display: flex;
  gap: 2rem;
  align-items: center;

  @media (width < 1440px) {
    padding-inline: 0.5rem;
  }

  & > img {
    max-width: 50%;
  }
  & > *:has(img) {
    min-width: 50%;
  }
  img {
    object-fit: contain;
  }

  @media (width < 600px) {
    flex-direction: column !important;
    & > * {
      margin-inline: auto;
    }
  }
}
