* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  color-scheme: light dark;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  --color-50: oklch(97.28% 0.009 161.35);
  --color-100: oklch(93.34% 0.023 157.58);
  --color-200: oklch(86.89% 0.043 159.33);
  --color-300: oklch(77.85% 0.068 161.22);
  --color-400: oklch(66.96% 0.087 161.36);
  --color-500: oklch(57.36% 0.09 162.04);
  --color-600: oklch(49.15% 0.08 162.38);
  --color-700: oklch(41.59% 0.064 164.77);
  --color-800: oklch(36.03% 0.053 164.64);
  --color-900: oklch(31.95% 0.045 165.16);
  --color-950: oklch(22.56% 0.027 170.34);
  --secondary-50: oklch(97.32% 0.007 53.45);
  --secondary-100: oklch(93.92% 0.014 60.57);
  --secondary-200: oklch(87.33% 0.029 57.33);
  --secondary-300: oklch(78.79% 0.049 53.5);
  --secondary-400: oklch(69.28% 0.072 48.11);
  --secondary-500: oklch(62.17% 0.091 42.5);
  --secondary-600: oklch(57.04% 0.096 36.76);
  --secondary-700: oklch(48.35% 0.083 32.43);
  --secondary-800: oklch(43.14% 0.068 27.83);
  --secondary-900: oklch(38.22% 0.053 30);
  --secondary-950: oklch(25.1% 0.035 25.51);

  --border-radius: 1rem;

  --gap: 1.5rem;
}

html {
  box-sizing: border-box;
}

body {
  /* max-width: 1248px; */
  margin-inline: auto;
  background-color: light-dark(var(--color-100), var(--color-900));
  color: light-dark(var(--secondary-950), var(--secondary-50));
}

/* A more effective CSS Image Reset: https://gist.github.com/palashmon/35bda7887eb4bc45459d71eca3dda7a5 */
img {
  max-width: 100%; /* don't exeed container's width */
  height: auto;
  vertical-align: middle; /* aligns image with text - mind it's an inline element */
  font-style: italic; /* makes alt text stand out */
  background-repeat: no-repeat; /* don't repeat yourself */
  background-size: cover; /* fill container without repeating */
  shape-margin: 1rem; /* add spacing around image */
}

p {
  text-wrap: pretty;
  line-height: 1.75;
  max-width: 65ch;
  font-size: 1.125rem;
}

header {
  position: fixed;
  width: 100%;
  padding-inline: var(--gap);
  display: flex;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    inset: -1rem;
    background-image: linear-gradient(rgb(from var(--color-800) r g b / calc(alpha * 0.5)) 80%, transparent);
    filter: blur(2px);
    z-index: 2;
  }

  div {
    max-width: 1248px;
    flex: 1;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
  }

  nav ul {
    display: flex;
    justify-content: end;
    list-style: none;
    gap: var(--gap);
    margin-block: var(--gap);
  }
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
  transition: all 200ms ease;
  &:hover {
    text-decoration: underline;
    text-underline-offset: 0.25rem;
    color: var(--secondary-200);
  }
}

.hero {
  display: grid;
  /* place-content: center; */
  img {
    width: 100%;
    height: 100dvh;
    object-fit: cover;
  }
  * {
    grid-row: 1/1;
    grid-column: 1/1;
  }
  h2 {
    place-self: center;
    font-size: 3rem;
    backdrop-filter: blur(6px);
    background-color: rgb(from var(--color-800) r g b / calc(alpha / 3));
    padding: 1.5rem 3rem;
    border-radius: var(--border-radius);
  }
}

section:nth-of-type(even) {
  margin-block: 5rem;
}

section:nth-of-type(even) .flex {
  flex-direction: row-reverse;
}

section:last-of-type {
  margin-bottom: 5rem;
}

section:not(.hero) {
  max-width: 87.5em;
  margin-inline: auto;
}

.flex {
  display: flex;
  gap: 2rem;
  align-items: center;

  * {
    width: 50%;
  }
  img {
    object-fit: contain;
  }

  @media (width < 600px) {
    flex-direction: column !important;
    & > * {
      margin-inline: auto;
    }
  }
}
